    <!-- 検索欄 -->
    <div class="anime-search">
      アニメを探す
    </div>
    <div class="search-forms">
      <form class="forms">
        <div class="search-form">
          <label for="anime-title" class="title">アニメタイトル</label>
          <input type="text" id="anime-title" placeholder="タイトルを入力" class="title-form">
        </div>
        <div class="search-form">
          <label for="genre_id" class="genre">ジャンル</label>
          <input type="text" id="genre_id" class="genre-form">
        </div>
        <div class="search-form">
          <label for="good_point_id" class="good-point">良いところ</label>
          <input type="text" id="good_point_id" class="good-point-form">
        </div>
        <div class="search-form">
          <label for="recommendation_id" class="recommendation">どんな人におすすめか</label>
          <input type="text" id="recommendation_id" class="recommendation-form">
        </div>
        <div class="search-form">
          <input type="submit" value="検索" class="search">
        </div>
      </form>
    </div>

    <!-- アニメ投稿一覧 -->
    <div class="anime-chart-post">
      <div class="charts">
        <div class="anime-chart">アニメ投稿一覧</div>
        <% if user_signed_in? %>
        <%= link_to '新規投稿', new_anime_path, class:"new-post"%>
        <% end %>
      </div>

      <div class="posts">
        <div class="post">
          <div class="edit-end">
            編集済み
          </div>
          <div class="anime-content">
            <div class="content-header">
              <div class="content-anime-title">
                <div class="content-anime">アニメタイトル</div>
                <div class="content-title">無職転生～異世界行ったら本気だす～</div>
              </div>
              <div class="content-netabare-count">
                <div class="netabare">5</div>
                <div class="count">ネタバレカウント</div>
              </div>
            </div>
            <div class="content-middle">
              <img src="images/sample1.png" alt="サンプル画像" class="anime-image">
            </div>
            <div class="content-footer">
              <div class="content-genre">ジャンル:</div>
              <div class="content-good-point">良いところ:</div>
              <div class="content-recommendation">どんな人におすすめか:</div>
            </div>
          </div>
          <div class="user-name">
            投稿者名
          </div>
        </div>
      

        <div class="post">
          <div class="edit-end">
            編集済み
          </div>
          <div class="anime-content">
            <div class="content-header">
              <div class="content-anime-title">
                <div class="content-anime">アニメタイトル</div>
                <div class="content-title">チェンソーマン</div>
              </div>
              <div class="content-netabare-count">
                <div class="netabare">0</div>
                <div class="count">ネタバレカウント</div>
              </div>
            </div>
            <div class="content-middle">
              <img src="images/sample1.png" alt="サンプル画像" class="anime-image">
            </div>
            <div class="content-footer">
              <div class="content-genre">ジャンル:</div>
              <div class="content-good-point">良いところ:</div>
              <div class="content-recommendation">どんな人におすすめか:</div>
            </div>
          </div>
          <div class="user-name">
            投稿者名
          </div>
        </div>

        <div class="post">
          <div class="edit-end">
            編集済み
          </div>
          <div class="anime-content">
            <div class="content-header">
              <div class="content-anime-title">
                <div class="content-anime">アニメタイトル</div>
                <div class="content-title"></div>
              </div>
              <div class="content-netabare-count">
                <div class="netabare">2</div>
                <div class="count">ネタバレカウント</div>
              </div>
            </div>
            <div class="content-middle">
              <img src="images/sample1.png" alt="サンプル画像" class="anime-image">
            </div>
            <div class="content-footer">
              <div class="content-genre">ジャンル:</div>
              <div class="content-good-point">良いところ:</div>
              <div class="content-recommendation">どんな人におすすめか:</div>
            </div>
          </div>
          <div class="user-name">
            投稿者名
          </div>
        </div>

      </div>
    </div>
