    <!-- 新規投稿 -->
    <div class="new">
      <div class="new-anime-posts">
        <div class="new-anime-post">アニメ新規投稿</div>
        <form class="new-anime-post-form">
          <div class="new-form">
            <label class="new-anime-title">アニメタイトル
              <input type="text" class="new-anime-title-form">
            </label>
          </div>
          <div class="new-form">
            <label class="new-anime-image">画像
              <input type="text" class="new-anime-image-form">
            </label>
          </div>
          <div class="new-form">
            <label class="new-anime-synopsis">あらすじ
              <textarea class="new-anime-synopsis-form"></textarea>
            </label>
          </div>
          <div class="new-form">
            <label class="new-anime-genre">ジャンル
              <input type="text" class="new-anime-genre-form">
            </label>
          </div>
          <div class="new-form">
            <label class="new-anime-good-point">良いところ
              <input type="text" class="new-anime-good-point-form">
            </label>
          </div>
          <div class="new-form">
            <label class="new-anime-recommendation">どんな人におすすめか
              <input type="text" class="new-anime-recommendation-form">
            </label>
          </div>
          <div class="new-form">
            <label class="new-anime-impression">アニメを観た感想
              <textarea class="new-anime-impression-form"></textarea>
            </label>
          </div>
          <div class="new-form">
            <input type="submit" value="新規投稿" class="new-anime-submit-form">
          </div>
        </form>
      </div>
    </div>