dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

/* アコーディオンメニューの大きさ */
.accordion {
  background-color: aqua;
}

/* アコーディオンメニューの間隔 */
.accordion-box:not(:first-child) {
  margin-top: 20px;
}
  
/* 質問部分 */
#question {
  width: 800px;
  background: #52a261;
  padding: 20px 20px 20px 80px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  position: relative;
  border: 2px solid;
}
  
  
/* プラスマークアイコン */
#question span::before,
#question span::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: .5s;
}

/* プラスマークアイコンの横棒の位置調整など*/
#question span::before {
  right: 30px;
}
  
/* プラスマークアイコンの縦棒の位置調整など*/
#question span::after {
  right: 30px;
  transform: translateY(-50%) rotate(90deg);
}

/* 回答部分が開いている時は縦棒を横にする*/
#question span.open::after {
  transform: translateY(-50%) rotate(0);
}

/* 回答部分は最初非表示 */
#answer {
  display: none;/* 非表示にしておく */
  padding: 20px 20px 20px 80px;
  font-size: 18px;
  background: #fff;
  position: relative;
}

/* --------------------コメント-------------------- */
.comments-replies {
  width: 100%;
  background-color: rgb(255, 0, 208);
}

