.finish-index-user-my-pages {
  width: 300px;
  margin: 10px 0 0 30px;
  padding: 5px 0;
}

.finish-index-user-my-page {
  text-decoration: none;
  color: #000000;
}

.finish-index-user-my-page:hover {
  opacity: 0.6;
}

.finish-index-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 600px 20px 30px;
}

.end-anime-title {
  width: 500px;
}

.end-anime-group {
  width: 100px;
}

.finish-anime-index-anime {
  height: 100px;
  background-color: #00ffa2;
  display: flex;
  align-items: center;
  padding: 0 0 0 30px;
}

.finish-animes-index {
  font-size: 30px;
  font-weight: 600;
}

.finish-high-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px;
}

.group-id {
  font-size: 20px;
  background-color: #00ffa2;
}

.finish-anime-title {
  padding: 5px 0 0 0;
}
