/* --------------------アニメ新規投稿-------------------- */
.new-anime {
  height: 1500px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: aqua;
}

.new-anime-posts {
  height: 1250px;
  width: 800px;
  border: 1px solid;
  background-color: bisque;
  margin: 50px 0 0 0;
}

.new-anime-post {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 20px 0 0 0;
}

.new-anime-post-form {
  padding: 30px 0 0 30px;
}

.new-form {
  margin: 30px 0 0 0;
}

.new-anime-title {
  width: 700px;
}

.new-anime-synopsis,
.new-anime-text {
  width: 700px;
  height: 150px;
}


.new-anime-submit {
  display: block;
  margin: 50px auto 0;
}