/* --------------------新規登録-------------------- */
.contents-row {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-registrtion {
  height: 450px;
  width: 400px;
  border: 1px solid;
  background-color: #00ffa2;
}

.field {
  padding: 20px 20px 0 20px;
}

.nickname-field,
.email-field,
.password-field,
.password_confirmation-field {
  width: 330px;
}

.submit-field {
  width: 125px;
  display: block;
  margin: 20px auto 0;
}

/* --------------------ログイン-------------------- */

.contents-row {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-session {
  height: 300px;
  width: 400px;
  border: 1px solid;
  background-color: #00ffa2;
}

.session {
  text-align: center;
  padding: 20px 0 20px 0;
  font-weight: 550;
}