/* --------------------マイページ-------------------- */
.user-show-my-pages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-show-my-page {
  margin: 50px 0;
}

.user-show-link {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 10px 30px;
}

.user-show-link-my-page {
  text-decoration: none;
  color: #000000;
}

.user-show-link-my-page:hover {
  opacity: 0.6;
}

.user-show-my-page-content {
  border: 2px solid;
  padding: 30px;
}

.user-show-my-page-name-friend {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

.user-show-my-page-name {
  font-size: 25px;
}

.user-show-link-end-anime {
  text-decoration: none;
  color: #000000;
}

.user-show-link-end-anime:hover {
  opacity: 0.6;
}

.user-show-tables {
  font-size: 18px;
  overflow-wrap: anywhere;
  padding: 20px 0 10px 0;
}

.user-show-detail-table {
  width: 600px;
  padding: 0 20px 0 20px;
}

.user-show-detail-animes {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 15px;
  text-align: center;
}

.user-show-detail-anime {
  width: 80%;
  padding: 10px;
  border: 1px solid #dedede;
  font-size: 12px;
}

.user-show-detail-free-comments {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 15px;
  text-align: center;
}

.user-show-detail-free-comment {
  width: 80%;
  padding: 10px;
  border: 1px solid #dedede;
  font-size: 12px;
}

.profile-not-found {
  text-align: center;
  padding: 30px 0;
}

.profile-btn {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}

.profile-edit-btn {
  text-decoration: none;
  color: #000000;
}

.profile-edit-btn:hover {
  opacity: 0.6;
}

.user-show-charts {
  height: 100px;
  width: 100%;
  padding: 0 100px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00ffa2;
}

.user-show-anime-chart {
  line-height: 100px;
  font-size: 30px;
  font-weight: 600;
}

.edited-end-edit-delete {
  display: flex;
  justify-content: space-between;
}

.edit-delete-button {
  display: flex;
}

.edited-end-view {
  color: #e90000;
}

.edit-button,
.delete-button {
  padding: 0 0 0 20px;
  text-decoration: none;
  color: #000000;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.3;
}