/* --------------------新規登録-------------------- */
.container-registrtion {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 255, 140);
}

.registration-new_user {
  height: 400px;
  width: 400px;
  border: 1px solid;
  background-color: azure;
}

.field {
  padding: 20px 20px 0 20px;
}

.nickname-field,
.email-field,
.password-field,
.password_confirmation-field {
  width: 330px;
}

.submit-field {
  width: 100px;
  display: block;
  margin: 20px auto 0;
}

/* --------------------ログイン-------------------- */

.container-session {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}

.session-new_user {
  height: 250px;
  width: 400px;
  border: 1px solid;
  background-color: rgb(243, 189, 119);
}